    center
          container
                   h1 id="main"  SIMON-GAME 
                   div class="board"
                       p class="level" id="lev"
                       span 
                           button type="button" class="btn btn-m btn-primary" id="start" disabled="true" start 
                           button class="btn btn-m btn-warning" id="strict" disabled="true" strict
                           br
                                
                           label id="swit" class="switch"
                                 input type="checkbox" id="stat"
                                        span class="slider round" 
                           p id="status" OFF                  
                       div id="a"
                       div id="b"
                       div id="c"
                       div id="d"
                        